.Contact {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.Contact > .main-content {
  margin-top: 25px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #c8c8c8;
  min-height: 400px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
  background-color: #fff;
  padding: 25px;
  text-align: left;
}
.Contact #right-div + #left-div {
  display: inline-block;
}
.Contact #left-div {
  width: 80%;
  padding-right: 30px;
}
.Contact #left-div p {
  padding: 0px;
  margin: 0px;
}
.Contact .top-content {
  display: flex;
}
.Contact h2 {
  color: #871d05;
  font-weight: 200;
  margin: 0px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Contact #right-div img {
  border: 10px solid #eeeeee;
  border-radius: 5px;
  outline: 1px solid #cfcfcf;
  width: 100%;
}
.Contact #right-div {
  margin-right: 15px;
}
.Contact .mini-header {
  color: #0071bc;
  font-size: 1rem;
}
.Contact a + a:visited {
  color: #0c2074;
  text-decoration: none;
}
