.PrivacyPolicyModal {
  font-family: Arial, Helvetica, sans-serif;
  width: 70vw !important;
}

.PrivacyPolicyModal h2 {
  display: inline-block;
  color: #871d05;
  font-weight: 200;
}
.PrivacyPolicyModal p {
  text-align: left;
}
.PrivacyPolicyModal h4 {
  color: #468fcb;
  font-weight: 600;
}
