.TosModal {
  font-family: Arial, Helvetica, sans-serif;
  width: 70vw !important;
  font-size: 0.8rem;
}

.TosModal h2 {
  display: inline-block;
  color: #871d05;
  font-weight: 200;
  margin: 0px;
}
.TosModal p {
  text-align: left;
  color: rgb(88, 88, 88);
}
.TosModal h4 {
  color: #468fcb;
  font-weight: 600;
  text-align: left;
}
.TosModal ol {
  text-align: left;
  margin-right: 100px;
  color: rgb(88, 88, 88);
}
.TosModal li {
  padding-left: 15px;
}
@media (min-width: 481px) and (max-width: 1460px) {
  .TosModal {
    font-size: 0.5rem;
  }
}
@media (max-width: 481px) {
  .TosModal {
    font-size: 0.4rem;
    width: 90vw;
    padding: 1px;
    margin: 0;
  }
  .modal-body {
    width: 90% !important;
  }
  .TosModal li {
    width: 70vw;
  }
}
