#root {
  height: 100%;
  margin: 0px;
  background: #f3f3f3;
  text-align: center;
  background-size: cover;
  background-position: center top;
}
.App {
  margin-top: 3.5rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 0px;
}

@font-face {
  font-family: "BankGothic Bold";
  src: local("BankGothic Bold"),
    url("./assets/fonts/BankGothic Bold.ttf") format("truetype");
}
